<!-- <router-outlet></router-outlet> -->

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a
        class="navbar-brand"
        href="index.html"
        style="color: #00ff14; font-size: 40px"
        >MoodStream</a
      >
    </div>
  </div>
</nav>

<div *ngIf="movieSelected == false">
  <div class="container">
    <div class="jumbotron" style="background-color: transparent; color: white">
      <h3 class="text-center">Search For Any Movie</h3>
      <div id="searchForm">
        <input
          type="text"
          class="form-control"
          id="searchText"
          [(ngModel)]="searchText"
          (blur)="searchMovie()"
          placeholder="Search Movies..."
        />
      </div>
    </div>
  </div>

  <div
    class="container"
    *ngIf="
      moviesData != undefined &&
      moviesData != null &&
      moviesData.results.length > 0
    "
  >
    <h3 style="color: white; text-align: center; margin-bottom: 30px">
      Here are your search results
    </h3>
    <div id="movies" class="row">
      <div
        class="col-md-3"
        *ngFor="let movie of moviesData.results"
        style="padding: 10px; color: white; border: 2px solid grey"
      >
        <div class="well text-center">
          <img
            [src]="imageURL + movie.poster_path"
            alt="NoImage.jpg"
            style="width: 70%"
          />
          <h5>{{ movie.title }}</h5>
          <a
            class="btn btn-primary"
            style="background-color: green; border: 1px solid green"
            (click)="seletedMovie(movie)"
            >Movie Details</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="movieSelected == true">
  <div class="row" style="margin: auto !important">
    <div class="col-md-4">
      <img
        [src]="imageURL + movieSeletecByUser.poster_path"
        class="thumbnail"
        style="width: 95%; margin: 20px"
      />
    </div>
    <div class="col-md-7">
      <h2 style="color: white">{{ movieSeletecByUser.title }}</h2>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Genre:</strong> {{ movieSeletecByUser.genreList }}
        </li>
        <li class="list-group-item">
          <strong>Language:</strong> {{ movieSeletecByUser.original_language }}
        </li>
        <li class="list-group-item">
          <strong>Release Date:</strong> {{ movieSeletecByUser.release_date }}
        </li>
        <li class="list-group-item">
          <strong>Tagline:</strong> {{ movieSeletecByUser.tagline }}
        </li>
        <li class="list-group-item">
          <strong>Budget:</strong> {{ "$" + movieSeletecByUser.budget }}
        </li>
        <li class="list-group-item">
          <strong>Vote Average:</strong> {{ movieSeletecByUser.vote_average }}
        </li>
        <li class="list-group-item">
          <strong>Creator Page:</strong> {{ movieSeletecByUser.homepage }}
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="well" style="padding: 40px; color: white">
      <h3>Description</h3>
      {{ movieSeletecByUser.overview }}
      <hr />
      <a
        href="{{ movieSeletecByUser.homepage }}"
        target="_blank"
        class="btn btn-primary"
        >View Creator Page</a
      >
      <a
        (click)="movieSelected = !movieSelected"
        class="btn btn-default"
        style="
          background-color: white;
          margin-left: 10px;
          color: red;
          font-weight: 700;
        "
        >Go Back To Search</a
      >
    </div>
  </div>
</div>
